---
layout: default
page_blocks:
  - _id: banner
    background_image: /houdini.jpg
    block-class:
    heading: This is a heading
    sub-heading: this is a sub-heading
    link-text:
    link_url:
  - _id: cta
    block-class: featured-bg
    heading: This is a test heading
    description: Lorem ipsum lalala
    link-text: Click me
    link_url: 'http://www.google.com'
  - _id: two-col
    block-class: light-bg
    col-1_html: >-
      <h2>Oh hey, I'm Tina&nbsp;</h2><p>Lorem ipsum dolor sit amet, consectetur
      adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
      magna aliqua<strong>. Ut enim ad minim</strong> veniam, quis nostrud
      exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis
      aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
      fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident,
      sunt in culpa qui officia deserunt mollit anim id est laborum</p>
    col-2_html: >-
      <h2>Here is a second column&nbsp;</h2><p>Lorem ipsum dolor sit amet,
      consectetur adipisicing elit, sed do eiusmod tempor <strong>incididunt
      ut</strong> labore et dolore magna aliqua. Ut enim ad minim veniam, quis
      nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
      consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
      cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
      <strong>cupidatat non proident</strong>, sunt in culpa qui officia
      deserunt mollit anim id est laborum</p>
---

<!-- Page blocks  -->
{% for block in page.page_blocks %}

  {% include blocks/{{block._id}}.html block=block %}

{% endfor %}
